{% block content %}
    <div class="card-deck">
        {% if events %}
            {% for event in events %}
                <div class="card" style="width: 18rem;">
                  <img src="{{ event.images.url }}" class="card-img-top" alt="{{ event.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ event.price }}</li>
                    <li class="list-group-item">
                        {{ event.location.name }}
                        <img src="{{ property.location.flag }}" alt="{{ property.location.name }}">
                    </li>
                    <li class="list-group-item">
                        No. of tickets: {{ event.number_of_tickets }} <br>
                        Tickets sold: {{ event.tickets_sold }}

                    </li>
                  </ul>
                  <div class="card-body">
                    <a href="{% url 'view_event' slug=event.slug %}" class="card-link">View Details</a>
                    <a href="#" class="card-link">Add to cart</a>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>No Events, please check again later!</h1>
        {% endif %}

    </div>
{% endblock %}
