{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding-top: 160px; padding-left: 0; padding-right: 0;">
        <h2 style="padding: 20px">Our Catalogue of Endless events</h2>
        <div class="card-deck">
            {% for event in events %}
                <div class="card" style="width: 18rem;">
                  <img src="{{ event.images.url }}" class="card-img-top" alt="{{ event.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ event.price }}</li>
                    <li class="list-group-item">
                        {{ event.location.name }}
                        <img src="{{ property.location.flag }}" alt="{{ property.location.name }}">
                    </li>
                    <li class="list-group-item">
                        No. of tickets: {{ event.number_of_tickets }} <br>
                        Tickets sold: {{ event.tickets_sold }}

                    </li>
                  </ul>
                  <div class="card-body">
                    <a href="{% url 'view_event' pk=event.id %}" class="card-link">View Details</a>
                    <a href="#" class="card-link">Add to cart</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
