{% extends 'base.html' %}
{% block content %}
    <div class="container" style="padding-top: 160px; padding-left: 0; padding-right: 0;">
        <div class="row">
            <div class="col">
                <h2>Merchant name <strong>{{ merchant.merchant_name }}</strong></h2>
                <p>Description: {{ merchant.merchant_description }}</p>
                <p>Location: {{ merchant.country_code.name }}</p>
            </div>
            <div class="col">
                <button class="btn btn-outline-dark my-2 my-sm-0" onclick="window.location.href = '{% url 'update_merchant' pk=merchant.id %}';">Update Merchant Details</button>
                <br><br>
                <button class="btn btn-outline-dark my-2 my-sm-0" onclick="window.location.href = '{% url 'create_events' %}';">Create event</button>


            </div>
        </div>
        <hr>
        <h2>These are the events by {{ merchant.merchant_name }}</h2>
        <div class="card-deck">
            {% for event in events %}
                <div class="card" style="width: 18rem;">
                    {% if current_user.is_authenticated %}
                        {% if current_user.profile.pk == merchant.admin_id.id %}
                            {% if event.published %}
                                <div class="card-header">
                                    Published
                                    <a href="{% url 'un_publish_event' slug=event.slug %}?next={{ request.path }}" class="btn btn-success">Un Publish Event</a>
                                    <a href="{% url 'edit_event' slug=event.slug %}" class="btn btn-success">Edit Event</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                  <img src="{{ event.images.url }}" class="card-img-top" alt="{ event.name }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ event.price }}</li>
                    <li class="list-group-item">
                        {{ event.location.name }}
                        <img src="{{ property.location.flag }}" alt="{{ property.location.name }}">
                    </li>
                    <li class="list-group-item">
                        No. of tickets: {{ event.number_of_tickets }} <br>
                        Tickets sold: {{ event.tickets_sold }}

                    </li>
                  </ul>
                  <div class="card-body">
                    <a href="{% url 'view_event' slug=event.slug %}" class="card-link">View Details</a>

                    <a href="#" class="card-link">Add to cart</a>
                    {% if current_user.is_authenticated %}
                        {% if current_user.profile.pk == merchant.admin_id.id %}
                            {% if not event.published %}
                                <a href="{% url 'publish_event' slug=event.slug %}?next={{ request.path }}" class="btn btn-success">Publish Event</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
