{% load crispy_forms_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top scrolling-navbar" style="padding: 2rem 1rem;">
    <div class="container" style="padding: 0 0;">

      <a class="navbar-brand" href="/">Events Alliance</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-right: 0px!important; width: 250px; height: 50px;">
                <select class="custom-select" style="height: 50px;">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit"  style="height: 50px;">Search</button>
            </form>
          </li>
            <li class="nav-item">
                <button class="btn btn-outline-light my-2 my-sm-0" onclick="window.location.href = '/merchants/new/';" style="margin-left: 15px; margin-top: .3125rem!important;">List your property</button>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item" style="padding-top: .3125rem;">
                    <a class="nav-item nav-link text-white" href="/accounts/logout/">LogOut</a>
{#                    <button class="btn btn-outline-light my-2 my-sm-0" onclick="window.location.href = '';">LogOut</button>#}
                </li>
                <li class="nav-item" style="padding-top: .3125rem;">
                    <a class="nav-link text-white" href="/accounts/profile">{{ user.username }}</a>
                </li>
            {%  else %}
            <li class="nav-item"  style="padding-top: .3125rem;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Sign In
                </button>
            </li>
            {% endif %}
            <li class="nav-item" style="padding-top: .3125rem;">
                <a class="nav-link text-white" href="#">
                    <svg class="icon icon--cart" viewBox="0 0 27 24" role="presentation" style="width: 27px; height: 24px;">
                      <g transform="translate(0 1)" stroke-width="2" stroke="currentColor" fill="none" fill-rule="evenodd">
                         <circle stroke-linecap="square" cx="11" cy="20" r="2"></circle>
                         <circle stroke-linecap="square" cx="22" cy="20" r="2"></circle>
                         <path d="M7.31 5h18.27l-1.44 10H9.78L6.22 0H0"></path>
                      </g>
                   </svg>
                    <span class="header__cart-count" style="display: inline-flex; right: -14px; top: -7px; align-items: center; justify-content: center; height: 20px; min-width: 20px; padding: 4px; font-size: 13px; font-weight: 500; text-align: center; background: #00badb; color: #fff; border-radius: 1.75em; transition: -webkit-transform 0.35s ease-in-out; will-change: transform; -webkit-transform: scale(1.01); transform: scale(1.01); z-index: 1;">123</span>
                </a>
            </li>
        </ul>

      </div>
    </div>

</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="margin-top: 103px;">
    <div class="container" style="padding: 0 0;">

      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="singup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">SignUp</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form action="/accounts/login/" method="post">
                {% csrf_token %}
                {% for field in user_authentication_form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <input type="submit" class="btn btn-outline-dark" value="LogIn">
               </form>
          </div>
          <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
              <form action="/accounts/signup/" method="post">
                {% csrf_token %}
                {% for field in user_creation_form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <input type="submit" class="btn btn-outline-dark" value="SignUp">
               </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


