{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding-top: 160px; padding-left: 0; padding-right: 0;">
        <h2 style="padding: 20px">View an endless chain of properties to rent out</h2>
        <div class="card-deck">
            {% for property in properties %}
                <div class="card bg-dark text-white">
                  <img src="{{ property.images.url }}" class="card-img" alt="{{ property.name }}">
                  <div class="card-img-overlay">
                    <h5 class="card-title">{{ property.name }}</h5>
                    <p class="card-text">{{ property.price }}</p>
                    <p class="card-text">{{ property.status }}</p>
                    <p class="card-text">{{ property.location.name }}</p>
                      <img src="{{ property.location.flag }}" alt="{{ property.location.name }}">
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}